[2015-02-25 17:13] miyconst opened #1 "Starcounter.Db does not contain a definition for Transact"
Unable to build SuperCRM with 2.0.3038.3 SC.

File: Master.json.cs
Line: 233
Exception: Starcounter.Db does not contain a definition for Transact

[2015-03-09 10:03] warpech commented on #1
Is this still valid?

[2015-03-09 10:04] warpech opened #2 "Make it compile with Starcounter 2.0.3077.3"

[2015-03-09 10:04] miyconst commented on #1
No. It is not, closing the issue.

[2015-03-09 10:04] #1 closed

[2015-03-09 10:04] warpech opened #3 "Rename to "People""
Rename the application to "People", replace the icon with something nicer

[2015-03-09 10:08] warpech opened #4 "Appear in other appps as a small form"
People partial should appear in other apps (such as Skyper) as a small icon. Putting the mouse cursor over that icon should show small bubble with person's business card. The business card should include a link to People workspace.

Later I will add a UI wireframe to this task.

[2015-03-09 10:36] miyconst commented on #2
Current version of SuperCRM compiles and runs under SC Polyjuice-DevelopNightlyBuilds-2.0.3077 with no issues.

[2015-03-09 11:02] miyconst commented on #3
I have fixed size properties of the gravatar-img icon and it works good.
Current size is 80x80px.

[2015-03-09 11:39] warpech opened #5 "Move client static files to "namespaced" subdirectory"
Move all client static files (apart from `Client/sys/`) to `Client/SuperCRM/`

[2015-03-09 12:18] #2 closed

[2015-03-09 12:20] miyconst commented on #3
1. Renamed the project and repository to People.
2. Replaced the application icon.
3. Made some code refactoring.

[2015-03-09 12:20] #3 closed

[2015-03-09 12:28] miyconst commented on #5
Moved sys folder to Client/People/sys.
I think it is better to keep those webcomponents in a separate folder rather than place them into Client/People folder directly.

[2015-03-09 12:28] #5 closed

[2015-03-09 12:29] miyconst commented on #4
The application looks bad and not user friendly.
Maybe it is better to rework the app before build it in another app?

[2015-03-09 12:41] warpech commented on #4
Yes, of course, this issue was just created to show the direction to go. Do you need some guidance or have already some ideas what to do?

[2015-03-09 12:51] warpech opened #6 "Remove companyLogo from template"
Remove `companyLogo` from template. It will be added using Images app.

[2015-03-09 15:30] miyconst commented on #4
@warpech, I have made some GUI changes.
It would be nice to get some feedback before I go further.

[2015-03-10 04:22] miyconst opened #7 "System.IO.IOException exception when trying to access Db.SQL from Json model class"
I have changed this code:

[code]

to:

[code]

and here is the RefreshCompanies method:

[code]

It rises exception on query execution:

An exception of type 'System.IO.IOException' occurred in Starcounter.dll but was not handled in user code.

Detailed message: {"no connection to Prolog Server"}

What this exception means?

[2015-03-10 07:43] k-rus commented on #7
Thank you for submitting the issue.
Current legacy SQL processor uses Prolog to parse and type check queries. The prolog program is run in a separate process. The error indicates that there is a problem on the way to communicate with the prolog process. It is difficult to say what is the reason for the error.

[2015-03-10 07:45] k-rus commented on #7
How can we reproduce the issue?

[2015-03-10 07:59] k-rus commented on #7
May be @chrhol can look at it at first place, since the error is sensitive to auto-binding.

[2015-03-10 08:23] miyconst commented on #7
Unfortunately, but I can't reproduce the error.

I reproduced it many times. It was working inside Handle.GET method and rising the exception inside CompaniesPage class.

After pc reboot all of the combinations work and I could not find a way to rise the exception again.
The source code is updated, so you may have a look.

[2015-03-10 08:30] miyconst commented on #7
What is the difference between
[code]
and
[code]

Two methods are defined in different classes and return different result:
[code]

In the application Db.SQL and SQL both work the same.

[2015-03-10 08:46] chrhol commented on #7
The only difference between the two are the type returned. Both will return instances of `QueryResultRows<T>` and actually the methods in `StarcounterBase` will call the corresponding method in class `Db` but through an interface to allow dependency-injection for some functionality that is needed where a dependency to the Starcounter project cannot be added, like in Starcounter.XSON.

Then again,

[2015-03-10 09:32] miyconst commented on #7
@chrhol, which one is preferable and which one I should use?

[2015-03-10 09:33] warpech opened #8 "Add contact information"
There should be contact information management in People app. A person/company can have one or more of the following:
- phone number with a role (work, home, mobile, etc) and dial code
- email with a role (work, home, mobile, etc)
- address with a role

See the UI patterns in Gmail "Contacts" feature.

[Pmail](https://github.com/warpech/pmail) app has such contact editing features, though it was n

[2015-03-10 09:41] chrhol commented on #7
Personally, I would use `Db.SQL` and `Db.SQL<T>`. I see no real reason to have an other set of these functions.

[2015-03-10 09:43] miyconst commented on #7
@chrhol, I will do the same, thank you.

[2015-03-10 09:58] miyconst commented on #6
Done. Removed company logo and contact avatar.
Not commited yet, will commit after review of the previous version.

[2015-03-10 18:19] miyconst commented on #6
Commited.

[2015-03-10 18:19] #6 closed

[2015-03-10 18:23] miyconst commented on #8
- [x] Added new classes: ContactInfo, ContactInfoType (email, phone, address), ContactInfoRole (personal, home, work).
- [x] Removed email from Contact class.
- [x] Added contact infos to Contact's page.
- [ ] Company contact infos left.

[2015-03-10 19:50] miyconst opened #9 "Using polymer & paper controls from /People/sys directory"
I have successfully installed paper-dialog and it works fine.
https://www.polymer-project.org/0.5/components/paper-elements/demo.html#paper-dialog

But when I move the source under /People/sys folder everything breaks up.
This happens because polymer is loaded from /sys/polymer/polymer.html path.
And paper-dialog tries to load it from /People/sys/polymer/polymer.html.

It does not recognize that i

[2015-03-12 16:48] miyconst opened #10 "Make People application work with Simplified data model"

[2015-03-12 16:50] miyconst commented on #10
Fully reworked the app. Some of the features still left.

- [x] organizations.
- [x] persons.
- [x] persons contacts (addresses, emails, phones).
- [ ] search.
- [ ] organization persons.
- [ ] organization contacts.

[2015-03-13 08:50] miyconst commented on #8
Is this issue still actual?

[2015-03-13 19:46] miyconst commented on #10
All of the features are done.
@warpech, I would appreciate if you take a look at my code.

[2015-03-13 19:46] #10 closed

[2015-03-13 19:48] miyconst commented on #9
The issue could not be fixed right now.
The only solution is to take sys directory out of People directory.

[2015-03-13 19:48] #9 closed

[2015-03-13 19:48] #8 closed

[2015-03-13 19:49] miyconst commented on #7
I close the issue, because I could not reproduce the exception any more.

[2015-03-13 19:49] #7 closed

[2015-03-20 13:50] miyconst opened #11 "Make a package and upload to the app store"
https://github.com/Polyjuice/AppStoreServer/wiki/How-to-publish-apps

[2015-03-20 13:51] #11 closed

[2015-03-23 13:22] miyconst opened #12 "Persons & Organizations tables are empty on load"
Steps to reproduce:

1. Run People app inside Launcher app.
2. Open page http://localhost:8080/people/organizations or http://localhost:8080/people/persons by inputting url, not by clicking the left menu.

The page is empty. Something is not loading here.
I tried to debug and see what is happening and ended up with this issue:
https://github.com/Starcounter/Starcounter/issues/2626

This did not ha

[2015-03-23 13:38] alemoi commented on #12
Thanks for reporting! I will check this one right away.

[2015-03-23 13:46] alemoi commented on #12
And I assume you have installed the latest version: 2.0.3100.3

[2015-03-23 13:46] miyconst commented on #12
@alemoi, yes, it is the latest version of SC.

[2015-03-23 14:04] alemoi commented on #12
Unfortunately can't reproduce in my environment, works fine for me. I will ask @warpech if he has the problem.

[2015-03-23 14:10] miyconst commented on #12
@alemoi, okay, I will reboot pc, reinstall SC, check if it still there.

[2015-03-23 14:19] warpech commented on #12
Works OK for me. My setup:
- Starcounter 2.0.3100.3
- Launcher built from current develop branch (https://github.com/Polyjuice/Launcher/commit/4c57eaa07bce3d922dac88d3cc6b2beb422a56f2)
- People build from current develop branch (https://github.com/Polyjuice/People/commit/f82cfa1e73c6239b6fa59017e71dd03e69d874ed)

@miyconst If it still doesn't work for you, let's connect on Hangout.

[2015-03-23 15:31] miyconst commented on #12
The issue is gone after updating Launcher.

[2015-03-23 15:31] #12 closed

[2015-03-30 07:58] miyconst commented on #4
@warpech is the issue still relevant?

[2015-03-30 08:36] warpech commented on #4
Yes, but let's continue when Starcounter adds a way to know the nesting level of a partial inside of a X.GET handler (I will bump this issue once that's done)

[2015-03-30 11:16] alemoi commented on #4
https://github.com/Polyjuice/Polyjuice/issues/22

[2015-03-30 11:16] alemoi commented on #4
Here is the related issue: https://github.com/Polyjuice/Polyjuice/issues/22

[2015-04-07 16:42] miyconst opened #13 "Use bootstrap from /sys/ instead of local files"
https://github.com/Polyjuice/Polyjuice/issues/29#issuecomment-90627917

[2015-04-08 13:24] miyconst commented on #13
People and Images app use `/sys/bootswatch/paper/bootstrap.css` now.

[2015-04-08 13:24] #13 closed

[2015-04-21 14:59] miyconst opened #14 "Error on deleting new created phone number"
Steps to reproduce:

1. Open create person page.
2. Create new phone number.
3. Delete the phone number. It stays on the page.

[2015-04-22 08:54] miyconst opened #15 "Person image does not appear on create person page"
Person image appears only when a person opened for editing, but not on the new person page.

[2015-04-22 08:57] #14 closed

[2015-04-29 13:06] warpech opened #16 "People app resets h1, h2, .... globally"
In CSS file https://github.com/Polyjuice/People/blob/master/src/People/wwwroot/People/css/people.css there is a global reset of styles for h1, h2, h3, ...

It should only change styles for People app templates

[2015-05-06 08:36] warpech commented on #16
@miyconst can you fix that?

[2015-05-07 10:40] dan31 commented on #7
@chrhol, can you add a separate issue on revising  Starcounter.Advanced?

[2015-05-07 12:15] miyconst commented on #16
The `people.css` file is no longer required, removed it.
Also removed `people-old.css` and `animation.css`.

[2015-05-07 12:15] #16 closed

[2015-05-07 12:35] warpech commented on #15
Is it still reproducible?

[2015-05-07 12:37] miyconst commented on #15
Yes, it does.

[2015-05-07 12:46] warpech commented on #4
This was partially done by using `CallLevel` in combination with https://github.com/Polyjuice/People/blob/master/src/People/wwwroot/People/viewmodels/OrganizationSmallPage.html to show small info about Organisation in Products app.

Just before a demo on Apr 22 we decided to replace that with `OrganizationEmptyPage.html`, because it was not possible to relayout.

@miyconst could you revert `Organi

[2015-05-07 18:44] miyconst commented on #4
@warpech we still can't edit layout of OrganizationPage inside Products app, should I remove it anyway?

[2015-05-08 09:10] warpech commented on #4
No, we need to get layout editing possible there first. Why doesn't it work? Could you make an issue about that?

[2015-05-08 09:16] miyconst commented on #4
It does not work because it is a table, not set of divs.

[2015-05-08 09:17] miyconst commented on #4
I am not sure that we actually need it in there. It is just a list of suppliers on the product details page. We should not be able to edit a supplier from that page, I guess.

[2015-05-11 09:28] warpech commented on #4
Even if we not need this small edit form in the Products app, it does not mean that the "Organization" page should always be empty if accessed at CallLevel > 1 as it is now.

So my proposal is to:

1. Restore `OrganizationSmallPage` the Organization page is requested at CallLevel > 1
2. Change the Products page to use laid-out `<div>`s instead of `<table>`. Can you create an issue for that?
3. Som

[2015-05-11 13:49] miyconst commented on #4
Okay.

Here is the issue: https://github.com/Polyjuice/Products/issues/3.
Should I take this and that one?

[2015-05-11 17:40] warpech commented on #4
Yes.

To remind, this ticket is about both displaying both Organization and Person page as a small form at CallLevel > 1.

[2015-05-12 11:55] miyconst commented on #4
Done.

Now a small and nice Organization page with first address, email address, phone number appears in Products app in Suppliers section.

After applying some styles the page looks like this:
![product-page](https://cloud.githubusercontent.com/assets/6435556/7586565/d24db580-f8b6-11e4-9123-070a3132ccf3.png)

[2015-05-12 12:52] miyconst commented on #4
A problem with `Handle.CallLevel` discovered.

The Product's page have the following structure:

1. Product page - level 1.
2. Supplier page - level 2.
3. Organization page - level 3.

In people Application I check `Handle.CallLevel` and depending on that return full or small organization page. Everything works fine on page load, but when user clicks "Add supplier" button and a `Self.GET` request

[2015-05-13 15:13] warpech commented on #4
@alemoi unless you have a cleaner solution, would it be possible to force `CallLevel` on when making a `Self.GET` request?

Supplier page (level 2) could rememer its `CallLevel` in a variable and then request the Organization page at that level + 1.

[2015-05-13 15:19] miyconst commented on #4
+1, I suggested the same solution.

[2015-05-14 19:38] #15 closed

[2015-05-26 00:03] alemoi commented on #4
After a discussion we came to conclusion to expose `Handle.CallLevel` for modification. The following unit example speaks for itself:
[code]

[2015-05-26 14:43] miyconst commented on #4
Tested, works good so far.

[2015-05-26 14:43] #4 closed

[2015-05-26 15:05] alemoi commented on #4
:+1:

[2015-06-23 10:58] miyconst opened #17 "Release a new version, current latest release does not work with the latest SC build"

[2015-06-23 12:35] #17 closed

[2015-10-07 11:03] warpech opened #18 "Remove `concepts.ring2.abstractcrossreference`"
Shouldn't the handler that is mapped to `concepts.ring2.abstractcrossreference` be mapped to Simplified chat attachment?

https://github.com/StarcounterSamples/People/blob/a13de89b8d2da36dd6f2b55e7334cc538d9d818d/src/People/Api/OntologyMap.cs

[2015-10-08 10:07] warpech opened #19 "Standalone mode does not work"
Standalone mode does not work. The error in console:

See screenshot:

<img width="1456" alt="screenshot 2015-10-08 12 03 48" src="https://cloud.githubusercontent.com/assets/566463/10363425/b9437bd8-6db4-11e5-93b0-f4e0d67e21cd.png">

This might be because wrong order of declaration.

Compare People (doesn't work):

[code]

with Launcher (works):

[code]

But should `Polymer.dom` should be string a

[2015-10-12 12:29] warpech commented on #19
Explained here: https://www.polymer-project.org/1.0/docs/devguide/settings.html

[2015-10-19 14:41] miyconst commented on #18
Yes, it should be. Fixed now.

[2015-10-19 14:41] #18 closed

[2015-11-05 12:49] warpech commented on #19
@miyconst could you do it?

[2015-11-05 15:40] miyconst commented on #19
Yes, the issue was because of wrong order. Fixed now.

[2015-11-05 15:40] #19 closed

[2016-01-20 13:31] MLidstrom opened #20 "Misspelled word"
When pressing "Add organization", "Perss" should be "Press".

![3](https://cloud.githubusercontent.com/assets/538395/12450183/522b566c-bf82-11e5-9d46-19d3680800e2.png)

[2016-02-05 10:00] #20 closed

[2016-04-14 12:47] warpech opened #22 "Apply BEM to People's private CSS"
This app contains globally applied CSS rules in stylesheets:
- https://github.com/StarcounterSamples/People/blob/52e0f76cb1ef461816eea6bfc818ccdc1df96cba/src/People/wwwroot/People/css/standalone.css

It also contains inline CSS in HTML templates:
- https://github.com/StarcounterSamples/People/blob/master/src/People/wwwroot/People/viewmodels/ConfirmDialogPage.html
- https://github.com/StarcounterSa

[2016-04-21 15:46] warpech opened #23 "Replace People's default layouts in SQL import with `juicy-style` layout hints"
This is a clone of the task https://github.com/StarcounterSamples/Products/issues/10

------

Currently, People contains default layout information that comes as an SQL import (https://github.com/StarcounterSamples/People/blob/master/src/People/Content/default-layout.sql). Remove that SQL file and the helper class that uses it.

Provide equivalent information in form of `juicy-style` layout hints.

[2016-05-06 14:10] miyconst opened #24 "Remove dom-bind-notifier, no longer needed"

[2016-05-13 10:29] miyconst commented on #24
The `dom-bind-notifier` is now removed. Apart from this I also refactored some parts:

- Cleaned up client side javascript.
- Implemented usage of standalone mode.
- Removed check "whether app is in launcher" by checking `Session.Current == null`.

Right now Standalone and InLauncher mode shares the same master page. The pages has a menu section, the section is wrapped into a `<template is="dom-if

[2016-05-13 10:30] #24 closed

[2016-05-16 08:57] warpech commented on #24
Clever pattern!

[2016-06-29 15:29] warpech opened #25 "Create dropdown to choose Parent organisation"
For EpicDemo, we need to allow building an organizational structure.

Requirements:

- [x] add a dropdown for selecting a parent Organisation
- [x] disallow circular references when selecting the parent Organisation
- [x] allow clearing the parent Organisation
- [x] show parent Organisation on Organisations list

[2016-08-08 14:46] warpech opened #27 "Rename branch "EpicDemo" to "develop""

[2016-08-08 14:48] warpech commented on #25
Finish this. Release a version from the develop branch after it is done.

[2016-08-09 10:59] warpech commented on #27
Branch renamed to "develop"

[2016-08-09 10:59] #27 closed

[2016-08-09 11:00] warpech opened #28 "Make all of the pages appear only after sign in"
Make all of the pages appear only after sign in.

His is needed to use this app internally at Starcounter.

[2016-08-10 14:56] warpech commented on #25
Done

[2016-08-10 14:56] #25 closed

[2016-08-17 11:09] warpech opened #29 "Members of organization should be sorted alphabetically"
Currently, the members of organisation on the organizations list are unsorted:

<img width="1177" alt="screen shot 2016-08-17 at 14 48 34" src="https://cloud.githubusercontent.com/assets/566463/17736755/e21739e2-6489-11e6-80f3-0bc9eabd119f.png">

The same for members of organisation on the organisation page:

<img width="1182" alt="screen shot 2016-08-17 at 14 48 59" src="https://cloud.githubuserc

[2016-08-17 15:28] warpech commented on #28
Done in d2b3010e6e52f20869e05d059e4ca9d475a06333

[2016-08-17 15:28] #28 closed

[2016-08-17 15:44] warpech opened #30 "Add a "Member of" column in the Persons list"
Add a "Member of" column in the Persons list. It should show a comma-separated list of organisations this person is a member of. Every organisation should be a link to the organisation page.

![screen shot 2016-08-17 at 17 41 02](https://cloud.githubusercontent.com/assets/566463/17742900/30b34cb8-64a2-11e6-8f54-4fbd195d906d.png)

[2016-08-17 15:47] warpech opened #31 "Items in the "Member of" and "Members" column should be links"
Right now, items in the "Member of" and "Members" columns on the organizations list are just names of the members.

They should be links to corresponding organization pages and person pages.

![screen shot 2016-08-17 at 17 46 09](https://cloud.githubusercontent.com/assets/566463/17743017/9ba19a3e-64a2-11e6-952a-64c72a5d1351.png)

[2016-08-17 16:22] warpech commented on #23
This issue is obsolete. We are migrating from `juicy-style` to `juicy-composition`. A new task will be created.

[2016-08-18 13:23] warpech opened #32 "Replace People's default layouts in SQL import with `template is="starcounter-composition"`"
This is a clone of the task https://github.com/StarcounterSamples/Products/issues/18

------

Currently, People contains default layout information that comes as an SQL import (https://github.com/StarcounterSamples/People/blob/master/src/People/Content/default-layout.sql). Remove that SQL file and the helper class that uses it.

Provide equivalent layout in form of `template is="starcounter-compos

[2016-08-18 13:24] warpech commented on #23
A new issue was created https://github.com/StarcounterSamples/People/issues/32

[2016-08-18 13:24] #23 closed

[2016-08-19 11:39] warpech opened #33 "Add custom fields to the People app (PersonPage)"
I would like to define custom fields, such as:
- GitHub username
- Skype ID

It should be possible to add one or more custom fields to a Person.

[2016-08-19 11:39] warpech opened #34 "Display values of custom fields on Persons list (PersonsPage)"
After https://github.com/StarcounterSamples/People/issues/33 is done, it should be possible to configure the columns displayed on the People list to show custom fields.

For example, I would like to display GitHub usernames for those who have them.

[2016-08-19 11:41] warpech commented on #33
cc @chrhol

[2016-08-19 15:04] warpech commented on #31
Implemented in PR: https://github.com/StarcounterSamples/People/pull/35

[2016-08-19 15:04] warpech commented on #30
Implemented in PR: https://github.com/StarcounterSamples/People/pull/35

[2016-08-19 15:04] warpech commented on #29
Implemented in PR: https://github.com/StarcounterSamples/People/pull/35

[2016-08-19 15:39] warpech commented on #32
Implemented in PR: #36

[2016-08-22 15:18] warpech commented on #33
There should be a new button at the top of the Person's page: "Add custom field".

A person can have multiple custom fields.

A custom field consists of:
- type (selectable from the autocomplete - or editable, when you want to write a new)
- value

The data model and view-model can be inspired by EmailAddress.

[2016-08-23 08:20] warpech commented on #32
Fixed in #36

[2016-08-23 08:20] #32 closed

[2016-08-24 15:28] Joltrix opened #37 "The viewmodel for the element types (addresses, emails, phonenumbers, custom elements) is not working"
The code for everything works, and they are assigned their "value" (for the `<select>` tag, and they update accordingly). However, the view-model does not update correctly. And always displays the first type in that specific items list.

I asked @miyconst about it, and he said that it was a known issue caused by Polymer adding the `<option>`s after it has declared the selected-index, thus always d

[2016-08-25 07:46] warpech commented on #37
Could you check if switching to `<juicy-select>` fixes the problem?

[2016-08-25 07:59] warpech commented on #31
Fixed in #35, closing

[2016-08-25 07:59] #31 closed

[2016-08-25 07:59] warpech commented on #30
Fixed in #35, closing

[2016-08-25 07:59] #30 closed

[2016-08-25 07:59] warpech commented on #29
Fixed in #35, closing

[2016-08-25 07:59] #29 closed

[2016-08-25 08:10] miyconst commented on #37
Please note that `<juicy-select>` does not support `selected-index`, but work properly with `value` binding.

[2016-08-25 08:11] warpech opened #38 "Columns on organizations and persons list are of wrong width"
Columns on organizations and persons list are of unset width, causing the "Members" column to become the widest.

I have a local fix for this and will issue a PR.

<img width="843" alt="2016-08-25 10_08_08-launcher" src="https://cloud.githubusercontent.com/assets/566463/17961468/33eff772-6aac-11e6-8dda-a5899fc126a4.png">

[2016-08-25 08:13] Joltrix commented on #37
Yeah, i remember you telling me that yesterday :), Thank you!

[2016-08-25 09:35] Joltrix commented on #37
cc @warpech

Yes, juicy-select works. I managed to fix it for the custom elements. Should i fix it for the remaining "elements" as well, while I'm at it? (address, email, phonenumber)

[2016-08-29 11:51] Joltrix commented on #33
Implemented in PR #40

[2016-08-30 14:02] Joltrix opened #41 "The deletion of items is not working"
When you delete an item, for example a telephone number, or an address, or a person, they get deleted. At least for all intents and purposes. They disappear from the application, and they do not reappear again.

However, all the "items" still exist in the database, they are not deleted in there.

[2016-09-01 22:45] tomalec opened #42 "Adding new address (and probably other relation pages) replaces entire array instead of adding one element"
When you press "ADD ADDRESS" button the patch that comes replaces entire array, what causes blinking, and performance overhead for re-stamping and re-rendering all (nested) partials

[code]

It should be just

[code]

[2016-09-02 14:55] Joltrix commented on #34
Implemented in PR #43

[2016-09-02 14:56] Joltrix commented on #37
Implemented in PR #43

[2016-09-12 11:12] miyconst opened #45 "Person details page: custom fields have wrong layout"
![image](https://cloud.githubusercontent.com/assets/6435556/18433927/886ff008-78ea-11e6-8365-74bf79bf7369.png)

[2016-09-23 10:13] warpech commented on #38
Closing as done

[2016-09-23 10:13] #38 closed

[2016-10-17 12:15] ubbeK opened #46 "OrganizationPerson missing reference"
### Steps to reproduce
pull the latest from People repository
run build.nat

### Expected result
msbuild to compile the solution with 0 warnings and 0 errors

### Actual result

[code]

### Technical information

##### Starcounter version 2.2.2.3449

[2016-10-17 12:18] ubbeK commented on #46
@warpech @alemoi Doesn't our CI server compile each StarcounteSample/repository after each commit?

[2016-10-17 12:26] alemoi commented on #46
Here is the list of current repositories we build (People is not there as you see):
[code]
However this list would be cleaned up soon, since it was decided to separate Starcounter builds from Apps builds. So none apps would be automatically build by terms of Starcounter "core" build system.

[2016-10-17 12:26] warpech commented on #46
People app `develop` branch should build well. Please check if that branch builds for you. If yes, then it should be merged to `master`

[2016-10-17 12:28] ubbeK commented on #46
`However this list would be cleaned up soon, since it was decided to separate Starcounter builds from Apps builds. So none apps would be automatically build by terms of Starcounter "core" build system.`

That is fine. But do we have resources to set up jobs for each SampleApp for each commit with latest starcounter Version?

I'll try it out

[2016-10-17 12:29] ubbeK commented on #46
@warpech develop branch works fine. Should I merge it?

[2016-10-17 12:36] ubbeK commented on #46
@warpech: Everything works well, will merge it now.

[2016-10-17 12:41] ubbeK commented on #46
Develop branch is [merged](https://github.com/StarcounterSamples/People/commit/1a674995e327403bc22c2e515f210bb69501dbea), closing issue

[2016-10-17 12:41] #46 closed

[2016-10-17 12:46] warpech commented on #46
Great, thanks

[2016-10-17 12:47] warpech commented on #46
Yes, this process has been started by @joozek78 and is tracked here: https://github.com/Starcounter/AdminTrack/issues/44

[2016-10-26 08:55] warpech opened #47 "Add pagination"
After pagination is implemented in KitchenSink (https://github.com/StarcounterSamples/KitchenSink/issues/72), add pagination to Companies and Persons lists in the People app.

[2016-10-28 15:09] warpech opened #49 ""Add person" page not working in browsers other than Chrome"
### Steps to reproduce
1. Go to `http://localhost:8080/people/persons/add` in Firefox
2. Log in in SignIn
3. See that the workspace remains blank
4. Refresh the page
5. See that your are logged in, but the workspace remains blank
### Expected result

You should see the "add person" form.
### Actual result

Empty workspace appears.
### Technical information
##### Starcounter version 2.2.1.3234
####

[2016-10-28 15:10] warpech commented on #49
@ubbeK could you pls take a look?

[2016-10-28 16:01] ubbeK commented on #49
@warpech Sure!

[2016-10-28 18:48] ubbeK commented on #49
@warpech I am having trouble opening up starcounter-debug-aid in FF, tried two different computers, reinstallation and removed ad-block. It works fine for Chrome and Edge though.

Does it work for you? Is this a sign to take weekend?

[2016-10-31 01:52] ubbeK commented on #49
After some debugging the problem has been narrowed down to the [develop Launcher branch](https://github.com/StarcounterPrefabs/Launcher/tree/develop) since this issue does not exist when using Launcher master branch. More specifically, it is the starcounter-composition in PersonPage.html (People app) that does not load the content at all.

Note to self, another bug might be present, more debugging

[2016-10-31 03:18] ubbeK commented on #49
Commit [Remove HTML Merger code as it is available in Starcounter](https://github.com/StarcounterPrefabs/Launcher/commit/37b9651b5ed83912d3b3ad59c4874c3a65cd29a9) seems to be the error for this issue. Any pointers on how to fix it @tomalec ?

[2016-10-31 11:21] tomalec commented on #49
Find matching code in starcounter and check what is the difference.

[2016-10-31 11:23] tomalec commented on #49
Or check if bindings works fine as requesting for {{ is deffinately a bug.

[2016-10-31 17:07] warpech commented on #49
@ubbeK what is your version of Starcounter? Hopefully equivalent to the last Starcounter stable or newer?

[2016-10-31 17:36] ubbeK commented on #49
@warpech It is definatly new than last stable. I think its from Friday, what number that was.

[2016-11-01 00:58] tomalec opened #50 "HTML Element's ids are not namespaced with app name"
### Steps to reproduce
1. Run Launcher
2. Run People app
3. Go to any people page like [/people](http://localhost:8080/people)
4. type into console `document.querySelector('#body')`

### Expected result
`null`
### Actual result
`<div id="body" slot="People/0">...</div>`

### Technical information
`StandalonePage.html` is used not only in standalone mode, therefore classes, ids and styles used ther

[2016-11-01 01:59] tomalec commented on #49
After some investigation it seems that `juicy-composition`  is also involved. I'll continue investigation tomorrow evening.

[2016-11-02 23:56] tomalec commented on #49
Note to self: So far it seems to be a polyfill issue, as imported document fragment when clone becomes empty in polyfilled browsers https://github.com/Starcounter/starcounter-include/blob/gh-pages/starcounter-include.html#L164

[2016-11-11 01:00] tomalec commented on #49
I have managed to isolate it heavily. Remaining parts are: webcomponents.js, polymer, dom-bind, and just few lines from our code that contains:

- creating CE
- creating Shadow DOM
- dispatching an event

https://jsbin.com/raqili/2/edit?html,output

I suspect it's some kind of race condition between `dom-bind` stamping, Custom Element upgrade, and Shadow DOM polyfill.

I'll investigate it further

[2016-11-11 17:35] tomalec commented on #49
I have managed to reduce this issue to polyfill issue https://github.com/webcomponents/webcomponentsjs/issues/648
However it's still quite tangled between Shadow DOM and MutationObserver polyfills

[2016-11-11 17:53] tomalec commented on #49
It seems to work correctly with webcomponents.js#v1. @warpech Do you think we can wait until then?

[2016-11-11 19:06] tomalec commented on #49
Now I cannot even try to find any workaround for WebComponents issue as
- develop is not building
- the last commit that builds throws 500 for `/people/persons`
[code]

As I already spend two weeks on this issee, I'm moving now to the others. Please, ping me once somebody will need any workaround for WC bug, I think I have few.

[2016-11-14 16:06] warpech commented on #49
Can you please say what does it actually mean for us to go with webcomponents.js#v1. Is there a migration path that allows us to use it immediately, while keeping webcomponents.js#v0 and Polymer 1.7?

[2016-11-14 16:46] tomalec commented on #49
Polymer team published migration path for Polymer elements and apps, but not for webcomponentsjs :(
Let's hope to get some answer here https://twitter.com/tomalecpl/status/798204488246968321 or here
https://gitter.im/webcomponents/webcomponentsjs?at=5829e934df5ae9664556e75a

[2016-11-14 19:12] tomalec commented on #49
As discussed with @warpech we agreed on plan as follows:

1. I'll try to find a workaround for this issue that could be implemented in `juicy-composition` so we could continue development as usual (time limit 24hrs),
2. I'll try to find a fix in webcomponentsjs, create a PR, and switch Starcounter to my own fork. Hope that they will merge it sooner than other PRs from May, or that upcoming version

[2016-11-17 14:03] warpech commented on #34
Closing as done

[2016-11-17 14:03] #34 closed

[2016-11-17 14:03] warpech commented on #33
Closing as done

[2016-11-17 14:03] #33 closed

[2016-11-21 14:39] tomalec commented on #49
Fixed in Starcounter 2.2.2.3750

[2016-11-21 14:39] #49 closed

[2016-11-22 08:46] Mackiovello opened #51 "Latest develop does not build"
### Steps to reproduce

1. Pull latest version of the develop branch
2. Build

### Expected result

The application builds and can be opened in the administrator

### Actual result

Build errors from lacking type or namespace "SomebodyGroup".

Error comes from [here](https://github.com/StarcounterSamples/People/blob/59856d488ca4316022db962ad76eb517a364b58c/src/People/Helpers/GroupsProvider.cs)

Bu

[2016-11-22 09:13] Mackiovello commented on #51
I'm an idiot. Updated to pnext, now it works

[2016-11-22 09:13] #51 closed

[2016-11-24 12:08] Mackiovello commented on #47
Pagination is now implemented

[2016-11-24 12:08] #47 closed

[2016-11-28 18:36] mmnosek opened #54 "Remove unused html imports"
I found at least one - at PersonsPage. There is an import at the top, but it is not used at all.

[2016-11-28 18:46] mmnosek opened #55 "Change cursor on pagination links"
Pagination works really nice, but also I found some room for improvement :) Links look like buttons, so they should behave entirely like buttons.

What I missing is `cursor: pointer` on every button in CSS. It should be also added in KitchenSink if there is the same problem.

cc @Mackiovello

[2016-11-29 15:53] Mackiovello commented on #55
Cursor is now updated

[2016-11-29 15:53] #55 closed

[2016-12-13 14:13] tomalec opened #58 "How to add custom fields"
### Steps to reproduce
1. Clone/install the app
2. Run it
3. Go to http://localhost:8080/people/persons/add
4. Click "Add custom field"
5. [ ] There is no value to choose
6. Go to http://localhost:8080/people/persons/
7. Click "Custom fields selection"
8. [ ] There is no value to choose
9. Go to https://github.com/StarcounterSamples/People to find a way

### Expected result
There should be some wa

[2016-12-13 14:17] tomalec commented on #58
Sorry, my bad, I can simply type it into the combo box 😶

[2016-12-13 14:17] #58 closed

[2016-12-13 14:32] Joltrix commented on #58
Haha yeah, maybe not the most intuitive way of adding custom classes... xD Perhaps we should write about that in the README

[2016-12-16 13:15] per-samuelsson opened #59 "Listing persons: make sense to be able to view a person?"
Just reflected when at /people/persons of our very own insider app. I wanted to see some detail of a user. Clicking the name would be the most intuitive to me. Instead I had to use [Edit].

[2017-01-25 12:07] warpech commented on #59
Good suggestion!

@threezool could you please take it? Please get familiar with the [Guidelines](https://starcounter.gitbooks.io/guidelines/content/) (editable as a [GitHub repo](https://github.com/StarcounterPrefabs/Guidelines)), especially the branching page and C# coding style.

[2017-01-25 12:08] warpech commented on #54
@threezool could you please take it? Please get familiar with the Guidelines (editable as a GitHub repo), especially the branching page and C# coding style.

[2017-01-25 12:12] warpech commented on #50
Solution, change ids to BEM class names:

[code]

More about BEM class names in Starcounter apps: https://docs.starcounter.io/guides/mapping-and-blending/avoiding-css-conflicts.html

This also fixes: https://github.com/StarcounterSamples/People/issues/22 (should be done in the same PR)

[2017-01-25 12:13] warpech commented on #50
@threezool could you please take it? Please get familiar with the Guidelines (editable as a GitHub repo), especially the branching page and C# coding style.

[2017-01-25 12:13] warpech commented on #22
Related #50

[2017-01-25 12:14] warpech commented on #41
@threezol could you please check if this is still relevant in the `develop` branch?

[2017-01-25 12:14] warpech commented on #37
Closing as fixed.

[2017-01-25 12:14] #37 closed

[2017-01-25 12:18] warpech commented on #42
I think this is fixable using the Json `.Add()` method, as used in KitchenSink BreadcrumbPage.

@threezool could you please take it?

[2017-01-25 12:19] warpech commented on #45
I thin this is not reproducible anymore.

@threezool could you please check to be sure?

[2017-01-26 14:42] threezool commented on #22
Fixed in #62

[2017-01-26 14:43] threezool commented on #50
Fixed in #62

[2017-01-26 14:50] threezool commented on #45
Could not reproduce.

[2017-01-26 14:50] #45 closed

[2017-01-26 15:13] threezool commented on #41
@warpech The relation entry is removed but not the actual data. Tested on both the EmailAddress and PhoneNumber table.

[2017-01-26 15:27] threezool commented on #59
Fixed in 3b482283c3cf3faa3ca72e1ca5f7a212239ccb7c

[2017-01-27 10:43] warpech opened #63 "Branches have diverged"
@threezool could you please merge your changes from `master` to `develop`?

[2017-01-27 10:49] warpech commented on #50
LGTM

[2017-01-27 10:51] warpech commented on #22
This is not fixed yet. Please read up http://starcounter.io/guides/apps/css-bem/:

`.people-top-menu ul li a` is not a correct BEM class/selector. It should be `.people-top-menu__link`

This applies to other selectors in stylesheets as well.

[2017-01-27 10:56] warpech commented on #59
Please see the comment: https://github.com/StarcounterSamples/People/commit/3b482283c3cf3faa3ca72e1ca5f7a212239ccb7c

[2017-01-27 10:57] warpech commented on #41
Thanks for reproducing this. Could you please try to fix this?

[2017-01-30 09:02] mmnosek commented on #22
I wait for this fix in develop as well :)

[2017-01-30 11:41] threezool commented on #63
Sure, synced the dev branch and changed to it so not to affect the master branch.

[2017-01-30 13:26] threezool commented on #41
It looks like the issue is in the Delete() function in for example PhoneNumberRelationPage so i'm not sure its related to the people app.

[2017-01-30 14:32] warpech commented on #63
Not fixed yet... https://github.com/StarcounterSamples/People/commit/e09579cde1cf157ec5253d6df9e8837c5931148a was reverted but `master` branch still needs to be merged to `develop`, because `develop` is two commits behind:

<img width="931" alt="screen shot 2017-01-30 at 15 32 15" src="https://cloud.githubusercontent.com/assets/566463/22426875/51fa4b92-e701-11e6-8a89-13074ba5bacf.png">

[2017-01-30 14:46] warpech commented on #63
This is fixed now, thanks!

[2017-01-30 14:46] #63 closed

[2017-01-30 14:50] warpech commented on #59
Commit https://github.com/StarcounterSamples/People/commit/3b482283c3cf3faa3ca72e1ca5f7a212239ccb7c needs reverting. The solution is tracked in PR #64

[2017-01-30 14:52] warpech commented on #22
Solution tracked in PR #65

[2017-01-30 14:53] warpech commented on #50
The previous solution was reverted. New solution tracked in PR #65

[2017-01-30 18:23] Joltrix opened #66 "Changing CustomContactFields Name causes error"
### Steps to reproduce
Go to Edit a person, and then click to add a custom field (if there are none already). After a custom field have been created, change its name, and then click on save.

### Expected result
It should save the new value, and delete the old value (since it deletes any values that are not currently being used by any user)

Like it does in inside.starcounter.com. There it works f

[2017-01-31 10:01] Joltrix commented on #41
@threezool , It is fixable inside the People app, at least for all the fields except for the custom fields (due to this [issue](https://github.com/StarcounterSamples/People/issues/66) ).

You just need to delete the items from the database as they are being deleted from the viewmodel :)

[2017-01-31 11:45] warpech commented on #22
Closing as done.

[2017-01-31 11:45] #22 closed

[2017-01-31 11:46] warpech commented on #50
Closing as done.

[2017-01-31 11:46] #50 closed

[2017-02-06 18:07] warpech commented on #59
Reverted commit  https://github.com/StarcounterSamples/People/commit/3b482283c3cf3faa3ca72e1ca5f7a212239ccb7c because no response from @threezool. The correct solution is still in progress in PR #64

[2017-02-06 18:43] warpech opened #68 "Improve the look of pagination"
### Steps to reproduce

1. Start People app `develop` branch
2. Start Launcher app `develop` branch
3. Start SignIn app `develop` branch
4. Go to `http://localhost:8080/signin/generateadminuser` to generate the admin user
5. Go to `http://localhost:8080/content/dynamic/apps`
6. Sign in as admin user
7. Click on "People" in the menu

### Expected result

The page should look nicer. My proposal:

-

[2017-02-06 18:43] warpech commented on #68
@un-tone can you pls take this?

[2017-02-06 18:45] warpech commented on #42
@un-tone could you please take it?

[2017-02-06 18:45] warpech commented on #41
@un-tone could you please take it?

[2017-02-06 18:46] warpech commented on #54
@un-tone could you please take it?

[2017-02-07 14:22] un-tone commented on #41
Created PR https://github.com/StarcounterSamples/People/pull/69

[2017-02-07 14:26] un-tone commented on #42
Created PR https://github.com/StarcounterSamples/People/pull/70

[2017-02-07 16:07] warpech commented on #59
Closing as done. PR #64 was merged to `develop`.

[2017-02-07 16:07] #59 closed

[2017-02-07 16:54] un-tone commented on #54
Crated PR https://github.com/StarcounterSamples/People/pull/71

[2017-02-08 15:50] un-tone commented on #68
Created PR https://github.com/StarcounterSamples/People/pull/72

[2017-02-09 00:07] warpech commented on #66
@un-tone any ideas here?

[2017-02-09 09:27] un-tone commented on #54
Closing as done

[2017-02-09 09:27] #54 closed

[2017-02-09 09:29] un-tone commented on #42
Closing as done

[2017-02-09 09:31] un-tone commented on #41
Closing as done

[2017-02-09 09:31] #41 closed

[2017-02-09 13:00] warpech opened #73 "Fix incorrect BEM classes"
Some classes in this project violate [BEM rules](https://docs.starcounter.io/guides/mapping-and-blending/avoiding-css-conflicts/), especially rule 7.

[code]

The above classes are Elements of unexisting Blocks. This should be `people-address-dropdown`, etc.

[code]

The above class is not BEMified at all.

[code]

The above could be: `.people-autocomplete, .people-autocomplete--group-member`

cc

[2017-02-09 13:45] threezool commented on #73
Think i got most of them, fix in #74

[2017-02-09 15:36] un-tone commented on #68
Closing as done.

[2017-02-09 15:36] #68 closed

[2017-03-16 16:13] warpech opened #76 "Use uniform batch scripts"
Use uniform batch scripts as presented in https://starcounter.gitbooks.io/guidelines/content/batch-files.html

Discussion: https://github.com/Starcounter/Guidelines/issues/6

[2017-03-17 10:01] warpech commented on #76
According to the discussion linked above, `make.bat` should be removed.

[2017-03-17 12:32] warpech commented on #76
Some projects output the exe files to `./bin/Debug` instead of `./src/<appname>/bin/Debug`.

The latter form is expected (see https://starcounter.gitbooks.io/guidelines/content/project_structure.html)

If this solution does not output the exe files to the desired paths (both in msbuild and in VS), please fix that immediately too.

[2017-03-20 13:06] warpech opened #77 "Configure continous integration on TeamCity"
The project should have a similar job to KitchenSink in TeamCity.

[2017-03-20 14:32] KmaTTi89 commented on #77
Done

[2017-03-20 14:32] #77 closed

[2017-03-21 12:22] threezool commented on #73
Fixed in #74

[2017-03-21 12:22] #73 closed

[2017-03-22 09:56] Mackiovello commented on #76
Fixed with 	d30ce7b

[2017-03-23 10:57] KmaTTi89 commented on #76
Done in https://github.com/StarcounterApps/People/pull/78

[2017-03-23 10:57] #76 closed

[2017-03-28 21:21] warpech opened #80 "Creating a new Person when there are no custom fields causes error"
### Steps to reproduce

1. Start Launcher, SignIn, People (all develop branch) on an empty database
2. Go to `localhost:8080/signin/generateadminuser` to generate the admin user
3. Go to `localhost:8080/launcher` and sign in as `admin/admin`
4. Click on "Persons" in the left menu
5. Click on "Add person"
6. Type in the first name
7. Press "Save"

### Expected result

Should create a new person

##

[2017-03-29 16:52] un-tone commented on #80
Created PR https://github.com/StarcounterApps/People/pull/81

[2017-04-04 17:46] tomalec opened #82 "Adapt to Shadow DOM V1"
As a part of our V1 migration effort https://github.com/Starcounter/RebelsLounge/issues/81 we need to adopt our apps to use v1 and latest `declarative-shadow-dom` syntax. https://github.com/Starcounter/RebelsLounge/issues/59

https://github.com/Starcounter/RebelsLounge/issues/72

[2017-04-04 22:52] #82 closed

[2017-04-06 17:14] un-tone commented on #80
Closing as done.

[2017-04-06 17:14] #80 closed

[2017-04-11 09:48] un-tone commented on #66
Was fixed with https://github.com/StarcounterApps/People/pull/81/commits/01f171c58ba2fa658b217abb180d39a017989d0f.
Closing as resolved.

[2017-04-11 09:48] #66 closed

[2017-04-17 11:21] un-tone opened #86 "Going to "Add Person" page causes error with running CompositionProvider"
### Steps to reproduce

1. Start Launcher, SignIn, People and CompositionProvider (all develop branch) on an empty database
2. Go to `localhost:8080/signin/generateadminuser` to generate the admin user
3. Go to `localhost:8080/launcher` and sign in as `admin/admin`
4. Click on "Persons" in the left menu
5. Click on "Add person"
6. Type in the first name
7. Press "Save"

### Expected result

Should

[2017-05-03 09:44] un-tone commented on #86
Created PR https://github.com/StarcounterApps/People/pull/88

[2017-05-30 11:53] warpech commented on #86
Closing as done

[2017-05-30 11:53] #86 closed

[2017-06-07 07:21] warpech opened #90 "Apply the new pattern to create MasterPage"
A new pattern to create MasterPage was discussed in https://github.com/Starcounter/Guidelines/issues/23 and implemented for reference in https://github.com/StarcounterApps/Website/pull/106.

Please apply the same pattern in People app, namely:

- rename `StandalonePage` to `MasterPage` (json, json.cs, html files)
- replace `Handle.GET("/people/standalone"` handler with a `GetSessionFromMaster` met

[2017-06-08 17:35] warpech opened #92 "Implement the new design"
Implement the new design presented in https://github.com/Starcounter/RebelsLounge/issues/121

The work has already started in branch: https://github.com/StarcounterApps/People/tree/feature/implement-new-ui

@threezool what is the current state of it? Please meet with @andwah, @bouguila to discuss the next steps.

[2017-06-09 04:43] threezool commented on #92
The design has evolved from the work i had started so i don't think its worth keeping that and just start fresh with the new design changes in mind.

[2017-06-09 07:45] andwah commented on #92
i have not yet had any feedback from @Starcounter-Jack  about the latest design...

[2017-06-09 15:32] warpech commented on #90
Suggested reviewer: @PatrykSzwer

[2017-06-13 10:15] atifwaqar opened #93 "Setting new password does not work in 2 locations"
### Steps to reproduce
1. Run following apps:
 a. Launcher
 b. UserAdmin
 c. SignIn
 d. People
2. Create a user
3. go to `http://localhost:8080/people/persons/{?}` or `http://localhost:8080/useradmin/admin/users/{?}`
4. Click on `SET NEW PASSWORD` button
5. Set new password
6. click save (and as soon as I click, I get an exception on the page)

### Expected result
7. Logging in using new password

[2017-06-13 11:42] miyconst commented on #93
@bouguila this issue might be inside of a different app, because this page is rendered by People app which includes a view from UserAdmin app, which includes a view from SignIn app :).

[2017-06-13 11:46] atifwaqar opened #94 "Clicking on Add Person give an exception"
The setup (SC verions & apps) are same as https://github.com/StarcounterApps/People/issues/93

### Steps to reproduce
1. Go to http://localhost:8080/people/persons
2. press button `ADD PERSON`, and you will see the exception
lets move forward, and refresh the page (on clicking the button the page url is changed to http://localhost:8080/people/persons/add)
3. Add firstName, lastName and then click

[2017-06-14 08:29] warpech commented on #93
@atifwaqar could you please paste the error message from the log in Adminstrator?

[2017-06-14 08:29] warpech commented on #94
@atifwaqar could you please paste the error message from the log in Adminstrator?

[2017-06-15 10:37] PatrykSzwer opened #95 "Editing person with Images app creates new empty Person which causes exception."
### Steps to reproduce
1. Run SignIn, People and Images app.
2. Go to edit view of any person in People app.
3. Change anything(optional) and click save button.
### Expected result
Person has changed edited fields (if changed in step 3), or nothing happen.

### Actual result
Person is changed but also there is new, empty person created. That causes exception in People app.

### Screenshot

![image

[2017-06-16 23:26] atifwaqar opened #97 "People app crashes(/misbehaves) on adding an image to a person"
### Steps to reproduce
1. Install and run the app suite on a fresh DB
2. Generate admin user
3. view admin user in person app
4. drag and image in image box
5. press save button

##### Starcounter version
Starcounter-RC-2.3.1.6600

##### Involved apps' version
People `master`
Images `Develop`
Launcher `Develop`
Signin `Develop`
UserAdmin `Develop`
Website `Develop`

[2017-06-18 18:10] atifwaqar opened #98 "Object reference not set to an instance of an object"
### Steps to reproduce
No idea so far, Probably somewhere creating relations between an organization and a person.

### Technical information
[code]
##### Starcounter version
2.3.0.5916

##### Involved apps' version
UserAdmin
SignIn
Launcher
People

[2017-06-18 18:14] atifwaqar commented on #98
My guess is that this exception occers somewhere in these function :
[code]

[2017-06-20 10:08] #90 closed

[2017-06-20 10:11] bouguila commented on #93
@atifwaqar could you please specify which app versions you use for this issue?

[2017-06-20 10:40] bouguila opened #99 ".."
### Steps to reproduce

### Expected result

### Actual result

### Technical information

##### Starcounter version

##### Involved apps' version

##### Browsers affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 9
- [ ] Safari 8
- [ ] IE 11

### Screenshot

[2017-06-20 10:49] #99 closed

[2017-06-20 15:31] bouguila opened #100 "People App - Roadmap"
This represents the Roadmap for all fixes, new functionalities and enhancements related to People app.

1. [x] 1. Investigating and fixing different bugs  -  ~~https://github.com/StarcounterApps/People/issues/93~~ ~~https://github.com/StarcounterApps/People/issues/94~~ ~~https://github.com/StarcounterApps/People/issues/98~~<p>
2. [x] 2. Fix  odd behaviour within the Images App  - ~~https://github.

[2017-06-21 10:55] bouguila commented on #94
@atifwaqar can you still reproduce the issue? do you have any further information about the error?

[2017-06-21 12:38] bouguila commented on #93
This issue is related to [UserAdmin](https://github.com/StarcounterApps/UserAdmin) app, Save button is actually hardcoded to redirect the page to `"/UserAdmin/admin/users"` besides committing the transaction, which is anti-pattern regarding this Starcounter/Guidelines#27.
cc @warpech

[2017-06-22 09:01] bouguila commented on #97
closing as fixed in StarcounterApps/Images#103

[2017-06-22 09:01] #97 closed

[2017-06-22 09:02] bouguila commented on #95
closing as fixed in StarcounterApps/Images#103

[2017-06-22 09:02] #95 closed

[2017-06-22 09:06] bouguila commented on #98
closing as fixed in StarcounterApps/Images#103

[2017-06-22 09:06] #98 closed

[2017-06-23 13:39] warpech commented on #93
Such a great finding! Thank you @bouguila for connecting-the-dots. Let's discuss the solution in https://github.com/Starcounter/Guidelines/issues/27

[2017-07-04 15:06] mmnosek opened #103 "Extend People with tags and searching"
We need to track expertise of specific people in Starcounter. The motivation is described here: https://github.com/Starcounter/CompanyTrack/issues/341 Long story short - we want to assign tags and be able to search using this tags on https://inside.starcounter.com

What I would like to see in the People App is:
- Definable list of unique tags (name + color)
- Assigning tag to the person on person

[2017-07-04 15:15] mmnosek commented on #103
It may also fit the CRM we build, right?

[2017-07-11 10:11] bouguila commented on #94
Closing as can't to reproduce.

[2017-07-11 10:11] #94 closed

[2017-07-11 10:13] bouguila commented on #93
Closing as related to other UserAdmin.

[2017-07-11 10:13] #93 closed

[2017-07-11 10:21] atifwaqar commented on #94
@bouguila Sorry I missed your last comment.
And i'm not able to reproduce this one now.  Thanks for the fix whoever did it :)

[2017-07-11 15:27] warpech opened #104 "iron-collapse is not in bower.json"
`iron-collapse` is used in `PersonsPage.html` but is not present in `bower.json`. Please add it.

[2017-07-11 15:39] warpech opened #105 "Add info about being unauthenticated user"
Right now, when you start People app and access it without being signed in, you see an empty response.

![2017-07-11 17_33_18-localhost_8080_people](https://user-images.githubusercontent.com/566463/28076739-e09ac542-665f-11e7-86ce-0627418be592.png)

Compare this to what you get in such case in UserAdmin:

![2017-07-11 17_33_32-useradmin](https://user-images.githubusercontent.com/566463/28076477-28

[2017-07-12 16:06] warpech commented on #103
@bouguila can you pls put this to the roadmap, instead of `Add roles/skillsets relations to a Person` as discussed on https://github.com/Starcounter/Minutes/issues/62?

[2017-07-12 16:14] bouguila commented on #103
@warpech yes sure!

[2017-07-20 07:37] bouguila commented on #104
closing as fixed in  52b914e

[2017-07-20 07:39] bouguila commented on #103
closing as done in c543cc3

[2017-07-20 08:38] mmnosek commented on #103
@bouguila wait, it's not merged and I didn't see the result ;)

[2017-07-28 10:24] bouguila commented on #103
@mmnosek can we close this issue now since c543cc3 is merged into develop?

[2017-07-28 10:29] bouguila commented on #104
closing as fixed in 52b914e

[2017-07-28 10:29] #104 closed

[2017-07-28 10:32] bouguila commented on #105
closing as fixed in 380594f

[2017-07-28 10:32] #105 closed

[2017-07-28 10:34] bouguila commented on #92
closing as done in 380594f

[2017-07-28 10:34] #92 closed

[2017-07-29 10:49] mmnosek commented on #103
Thanks @bouguila, closing!

[2017-07-29 10:49] #103 closed

[2017-07-31 10:17] Mackiovello opened #109 "Why are there four different CSS files?"
There are four different CSS files in the `css` folder:
* master.css
* people-default-composition.css
* people.css
* shared.css

Is there any reason for this? If I would work on this app, I wouldn't know where to put my styles with this structure. I would suggest putting them all in one `styles.css` file.

[2017-08-01 09:18] bouguila opened #111 "Apply the new design to single organization view"
Organization view should have the same look and feel as described in Starcounter/RebelsLounge#121.
- Layout and styles should provide similar appearance to the mockup

[2017-08-01 09:21] bouguila commented on #111
Fixed in 96e25d2

[2017-08-01 09:21] #111 closed

[2017-08-01 10:56] bouguila opened #112 "Pagination not being rendered correctly"
OrganizationsPage is not showing blended view for PaginationPage on freshly installed SC where `UseAlternativeNamespacesForJson` is set to `true`

- Since all namespaced JSON responses now include the index of the response to allows multiple responses from a single app on the same level, the hardcoded namespace of the app inside Json and using Self.GET to get the view are not working properly now.

[2017-08-03 11:15] bouguila commented on #112
closing as fixed in c582670

[2017-08-03 11:15] #112 closed

[2017-08-07 12:21] bouguila commented on #109
closing as fixed in #109

[2017-08-07 12:21] #109 closed

[2017-08-09 13:18] Joltrix opened #116 "Refactor how the deletion of items work"
In the people app, when we delete something, for example a user, we use `testUser.Delete();`
Instead, this needs to be changed to `testUser.IsDeleted = true;`

After changing how everything is deleted, we should also change what users are being displayed in different lists.

For example, when displaying all the users, we should exclude all the users that have their `IsDeleted` toggled. So we shoul

[2017-08-09 13:19] Joltrix commented on #116
cc @warpech @bouguila

What about addresses or phonenumbers by the way? Should we toggle them deleted as well, or just delete them?

- if we aim to be able to add an undo button eventually, perhaps we should just change how all the deletions work?

[2017-08-10 11:24] warpech commented on #116
The way I understand it: when you delete a person, nothing changes about the phone numbers.

You have an undeleted phone number of a deleted person.

[2017-08-10 11:32] warpech commented on #116
Maybe the property should be called `Deleted`, not `IsDeleted`. In Simplified we have a little bit of both conventions, but `Deleted` is more common.

See: https://github.com/StarcounterApps/Simplified/pull/66

[2017-08-10 14:26] Joltrix commented on #116
Yeah, but what if we only delete a phone number? Should that also be toggled? or should that actually disappear? At the moment, I've made it so that nothing gets deleted, I only flip their `IsDeleted` flag. But ofc, we can change this.

In the PR you linked, do you mean the Disabled flag?

We can change the naming to Deleted if you want :)

[2017-08-10 15:30] warpech commented on #116
I think that's correct.

Yes, so I think that the name for this method should be `Deleted`. If you agree.

[2017-08-11 08:58] Joltrix commented on #116
This has been implemented, and will be pushed to the develop branch once [this PR](https://github.com/StarcounterApps/People/pull/117) has been merged

[2017-08-15 22:50] warpech opened #118 "Bad code in UnauthorizedPage.html"
`UnauthorizedPage.html`, which was added in https://github.com/StarcounterApps/People/pull/106 uses inline styles. It should use CSS BEM classes.

Also, there is an incorrect tag `</">` and empty `<style>` element.

`template is="dom-bind"` is not needed in this file because no variables are used.

https://github.com/StarcounterApps/People/blob/1d57bc7f7aec70000fab8b05553345ef8d7c5405/src/People/w

[2017-08-16 10:02] bouguila commented on #118
you're right! i will fix that

[2017-08-28 09:11] atifwaqar opened #123 "Add to the group button fails"
### Steps to reproduce
1. Select a person
2. try to add that person to a group
3. Click button "Add to the group"

As soon as you click the button, the following happens
![image](https://user-images.githubusercontent.com/4388707/29767066-4d01752c-8be1-11e7-8658-81fc2fa0efe4.png)

##### Starcounter version
2.3.0.7063

##### Involved apps' version
![image](https://user-images.githubusercontent.com/4

[2017-09-04 11:21] Joltrix commented on #116
Since the above mentioned PR has been merged, I'll go ahead and close this issue

[2017-09-04 11:21] #116 closed

[2017-09-13 09:29] atifwaqar opened #124 "Object reference not set to an instance of an object."
### Steps to reproduce
Open the following link, and SignIn using default credentials
https://bi.adfenix.com/people

### Technical information
I am sure this is due to some Dirty Data. Cuz this doesn't happen if my DB is clean

##### Starcounter version
2.3.1.7166
##### Involved apps' version
ODataApi
People
Signin
UserAdmin
WebSite

### Screenshot
![image](https://user-images.githubusercontent.com

[2017-09-13 11:10] miyconst commented on #124
https://github.com/StarcounterApps/Simplified/blob/a95fa3776d5db41cc532dbae79cb796544ae8ade/Ring2/OrganizationMember.cs#L17

Somehow there are `Simplified.Ring2.OrganizationMember` items where the `Member` property is `null`.

[2017-09-14 07:55] #118 closed

[2017-09-14 15:15] bouguila opened #125 "confirm dialog is not showing when delete is clicked"
### Steps to reproduce

1. Build and run people and signIn or just go to http://inside.starcounter.com/people/persons
2. Login using your credentials
3. go to `/people/persons`
4. click `Delete` button on any person row

### Expected result
a confirm dialog should popup asking for confirmation
### Actual result
nothing appears

##### Starcounter version 2.3.1.7080

##### Involved apps' version

 -

[2017-09-19 10:29] bouguila opened #126 "make changes according to new mockup"
Apply the changes proposed in [this mockup](https://github.com/Starcounter/RebelsLounge/issues/121#issuecomment-330206413)

[2017-09-20 14:03] PatrykSzwer opened #128 "Redirect to main page after saving changes in persons profile is unnecessary"
When You change something in person page and click save button You will be redirected to `http://inside.starcounter.com/people/persons` page. It's completely unnecessary and mostly annoying. I suggest that after saving changes, person page should be refreshed or nothing at all should happen (As far as I saw this solution is mostly used in our apps).

[2017-09-21 09:46] bouguila commented on #128
i agree with @PatrykSzwer on the point that it is pointless to redirect the user the `/persons` or to `/organizations` on `Save` button click accordingly from a person page and an organization page as the user may want to continue editing even after hitting Save.
@warpech what do you think?

[2017-09-23 14:18] rogeralsing opened #129 "Person page /people/persons/m is slow"
### Steps to reproduce
Go to main page, click any person

### Expected result
Get to the person detail page quickly

### Actual result
Got to the person detail page after 1 sec

Looking at the Chrome Network tab, it is the "/people/persons/m" payload that takes 900+ ms.
Viewing the contents of it, it's not that big either.

![image](https://user-images.githubusercontent.com/647031/30773918-e5be4dd

[2017-09-23 14:38] rogeralsing opened #130 "Country dropdownlist in people page is bugged"
### Steps to reproduce
Open up any person for edit, start typing Sweden.

### Expected result
The dropdown stays close to the inputbox

### Actual result
The dropdown floats freely at random y-positions

![image](https://user-images.githubusercontent.com/647031/30774088-978f75ac-a07d-11e7-8bba-a8df2ccc3e28.png)

[2017-09-23 15:17] rogeralsing commented on #124
FYI: I've got the same issue here when trying out the people app

[2017-09-23 18:06] atifwaqar opened #131 "Question : Is it possible to have Picture on persons page?"
We have some users with pictures, but in this page, we can not easily tell which user has the picture. Is there an easy way to add the picture here?

![image](https://user-images.githubusercontent.com/4388707/30775765-8790a064-a09a-11e7-931a-46dfec86a639.png)

[2017-09-25 10:02] warpech commented on #129
@bouguila could you please take a look? I have also noticed that when investigating https://github.com/Starcounter/inside.starcounter.com/issues/23

[2017-09-25 11:14] bouguila commented on #129
This lag is actually caused by the automatic binding of the country list, just manually binding the properties made a significant boost of performance (from 900ms to 15ms).

![capture11](https://user-images.githubusercontent.com/12608524/30805817-780d9502-a1f3-11e7-8818-59ccf6264fa8.PNG)

[2017-09-25 11:22] bouguila commented on #129
ping @rogeralsing. cc @warpech

[2017-09-25 11:28] dan31 commented on #129
Do we know why is this so? CC @chrhol

[2017-09-25 11:28] chrhol commented on #129
Just to clarify: the problem is when data is added to an array when there is no specific TypedJSON type specified (i.e. having an empty object declared in the array `[ { } ]`).

For each country, a new TypedJSON object (`Json` instance + template) is created, instead of just a new instance based on an existing reused template.

This is another of these "features" that have been around for some tim

[2017-09-25 12:58] bouguila commented on #131
if you run InsideStarcounterMapper you will be able to see small picture thumbnails next to a person's row

![miniature](https://user-images.githubusercontent.com/12608524/30809405-eb776294-a201-11e7-8327-239a3dfd8cd5.PNG)

[2017-09-25 13:01] bouguila commented on #131
I think that this feature should be available on People app with no external dependencies (with the only requirement Images app running, of course)
@warpech WDYT?

[2017-09-25 13:12] bouguila commented on #130
@rogeralsing are you producing this issue locally or on http://inside.starcounter.com?
if testing locally could you please specify what People app version are you running?
also what web browser are you using, as everything looks fine in Chrome?

[2017-09-25 13:38] atifwaqar commented on #131
@bouguila Thanks, This worked for me.

[2017-09-25 15:35] bouguila commented on #130
update: i was able to reproduce it on Firefox. The issue should be solved with #133

[2017-09-26 09:29] warpech commented on #125
From what I have tested with the app versions provided in https://github.com/Palindrom/Palindrom/issues/156, this affects:

- deleting a person
- deleting an organisation
- deleting a custom field
- maybe deleting other data as well?

[2017-09-26 09:31] bouguila commented on #125
@warpech basically any delete action that invokes the confirm dialog

[2017-09-26 09:34] warpech commented on #129
@chrhol so generating 100 template pairs takes 800 ms? This seems like really long. Can you create an issue in Starcounter to track it?

Perhaps some caching should be used to reuse the same JSON template.

Before that happens, maybe Typed JSON should throw a warning when there is no specific TypedJSON type specified.

Knowing our sample apps, I think this happens dozen times in each request.

[2017-09-26 09:51] chrhol commented on #129
This particular functionality is reaaaally old (tbh I wasn't even aware that it was there or that anyone used it), and uses reflection to go through all properties in the database class. So the reflection is the main cause of the slowness.

Sure, we just need to decide what we want to do with this. Enhance, warn, remove? And as always it's a matter of priority.

For me it's sounds like this should

[2017-09-26 09:55] bouguila commented on #123
@atifwaqar is this relevant anymore? this was caused by a breaking change in the blending implementation a while ago.
anyway i am not able to reproduce it with current apps and SC versions.

[2017-09-26 14:26] warpech commented on #129
Great, thanks! Closing as done

[2017-09-27 09:17] atifwaqar commented on #123
@bouguila Nice, this seems to be fixed.

But there is another bug in `http://127.0.0.1:8080/useradmin/admin/usergroups/Ie`
![image](https://user-images.githubusercontent.com/4388707/30905526-5d68d468-a375-11e7-9f8e-46c49f47bb61.png)

Which is, save button is disabled.
I think (or I'm sure) it's a different issue, but just want to confirm, is that also fixed? or is it reported somewhere?

[2017-09-27 09:17] #123 closed

[2017-09-27 11:41] bouguila commented on #130
closing as fixed in [#ffbae15](https://github.com/StarcounterApps/People/commit/ffbae154df093648d0787e385750cd1b20d87734)

[2017-09-27 11:41] #130 closed

[2017-09-28 11:27] alemoi opened #134 "No handler for "/people/master""
### Steps to reproduce
Just check the code `develop` branch.

### Expected result
Handler "/people/master" should exist.

### Actual result
[code]

### Technical information
Handler "/people/master" seems not existing for the call:
[code]

##### Starcounter version
2.3.1.7294

##### Involved apps' version

##### Browsers affected

- [ x] Chrome
- [ x] Firefox
- [ x] Edge
- [ x] Safari

[2017-10-02 09:21] atifwaqar commented on #134
I get the same error.
and I have temporarily fixed it by addind following code at line 21 :
[code]

[2017-10-02 09:29] atifwaqar commented on #134
and by `temporarily fixed` I mean the page doesn't break for my users, and they can log in. but the redirect (from sign-in page to the opened page) doesn't work

[2017-10-02 15:24] bouguila commented on #126
Closing as done in [b10885d](https://github.com/StarcounterApps/People/commit/b10885d4646e9313a1fcdf1390ae4959ba352286)

[2017-10-02 15:24] #126 closed

[2017-10-02 15:25] bouguila commented on #125
closing as fixed in  [b10885d](https://github.com/StarcounterApps/People/commit/b10885d4646e9313a1fcdf1390ae4959ba352286)

[2017-10-02 15:25] #125 closed

[2017-10-02 15:31] bouguila commented on #131
closing as answered.

[2017-10-02 15:31] #131 closed

[2017-10-02 15:40] bouguila commented on #134
this is fixed in [b10885d](https://github.com/StarcounterApps/People/commit/b10885d4646e9313a1fcdf1390ae4959ba352286#diff-ef30e1d709fde34c2cb8648fc7f5889dR29)

[2017-10-08 21:48] tomalec opened #142 "GetLauncherPage name is missleading"
### Steps to reproduce
1. Read the source of any handler at https://github.com/StarcounterApps/People/blob/5fa686c05e5e785d8ba7495d6d12b98327b86460/src/People/Api/MainHandlers.cs

### Actual result
Every handler uses `GetLauncherPage` what is confusing to me as there is no Launcher, so what does it mean in the context of just People app? Is it even needed?

### Technical information

##### Starcou

[2017-10-16 15:22] Mackiovello commented on #134
Closing as fixed. Please reopen if it still doesn't work for you

[2017-10-16 15:22] #134 closed

[2017-10-17 11:54] Joltrix opened #144 "Add filtering functionality to the people app"
In the page where all the people are being listed (PersonsPage), all of the people are listed alphabetically, and the only navigation option the user has is the pagination. In cases where the people app only has around 10-50 persons, it's a rather smooth way of navigating. If the people app however have over 1000 people, it becomes a lot more difficult to find someone.

For example, if a program h

[2017-10-17 11:59] Mihaiii commented on #144
I don't think we **want** a standalone solution for this.
Search app solves this problem, like you said, and this is what we want afaik: to use multiple apps.

My 2 cents.

[2017-10-18 08:17] Joltrix opened #145 "Icons in IconsPage are not SVGs"
The icons in the IconsPage, which provides the event "apperance" to the timeline need to be changed to SVGs.

[2017-10-18 09:29] atifwaqar opened #146 "IndexOutOfRangeException: Index was outside the bounds of the array"
### Steps to reproduce
No idea how to do that, its random.

### Expected result
The person page should open

### Actual result
I see the following exception (which is in Technical information)

### Technical information
When i go to `/people/persons/{?}`. Sometimes the following exception occurs, most of the times it doesn't.
[code]

##### Starcounter version
2.3.1.7454

##### Involved apps' versi

[2017-10-24 07:51] bouguila commented on #100
closing as completed.

[2017-10-24 07:51] #100 closed

[2017-11-13 15:05] warpech commented on #129
TypedJSON based on dataobject was deprecated in Starcounter 2.3.1. The functionality needs to be reworked in the People app.

[2017-11-27 11:15] PatrykSzwer commented on #128
Closing as done.

[2017-11-27 11:15] #128 closed

[2017-12-05 12:04] warpech opened #160 "Decide about what Blender.MapUri calls shoud be single-directional"
Pergite has reported to me that [UnauthorizedPage.html](https://github.com/StarcounterApps/People/blob/ef459963a9357816e97b6501ab52b59185e2cbdc/src/People/wwwroot/People/viewmodels/UnauthorizedPage.html) is always blended to the sign in page, even if you go to the sign in page from another app.

It is strange to see information "You need to be signed in to use People." when you were redirected to

[2018-03-29 10:58] #124 closed

[2018-03-29 11:00] #144 closed

[2018-03-29 11:00] #145 closed

[2018-03-29 11:02] bouguila commented on #146
closing as not possible to reproduce.

[2018-03-29 11:02] #146 closed

[2018-03-29 11:12] #142 closed

[2018-06-01 14:16] Joltrix opened #175 "ObjectID property is not supported within SQL queries."
For https://github.com/Starcounter/level1/issues/4210 .

Note to self: branch `refactor-without-simplified` needs more changes (after this commit is merged into that branch).

[2018-06-01 14:18] Joltrix opened #176 "ObjectID property is not supported within SQL queries."
For https://github.com/Starcounter/level1/issues/4210 .

Note to self: branch `refactor-without-simplified` needs more changes (after this commit is merged into that branch).

[2018-06-01 15:17] #175 closed

[2018-06-01 15:17] #176 closed

[2018-09-26 17:56] Mihaiii opened #179 "Dialog doesn't work"
The problem is that currently there is no valid `paper-dialog` element on `master` branch and `bower.json` has as dependency [`"paper-dialog": "^3.0.1"`](https://github.com/Starcounter/People/blob/3158bd8eaabd7e55aaf43788179e156f4bfa97a3/src/People/bower.json#L20), rule that has no valid version in this moment for Polymer 2.

[2018-09-26 18:01] Mihaiii opened #181 "Update to uniform.css"
Continuation for https://github.com/Starcounter/People/pull/178 .

[2018-09-27 10:31] Mihaiii commented on #181
While working on this issue, I noticed that on current [master](https://github.com/Starcounter/People/commit/fffdfe98aa9bc61d9c9db8dc24da52e9ff97fab3) Organizations count isn't updated.

![orgcountupdate](https://user-images.githubusercontent.com/8951553/46140313-0f526e00-c251-11e8-9468-958e40f34be2.gif)

In case anyone else notices the issue, please don't fix (unless it's urgent) because we will

[2018-10-02 13:59] #179 closed

[2018-10-09 14:19] ubbeK opened #183 "There are no tests in People repo"
Missing
* test/People.UnitTests
* test/People.IntegrationTests

cc @LarsTjernstrom